html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

header  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;    
}

nav {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
}

nav a {
    display: block;
}

main {
    position: relative;   
    flex: 1 0 auto; 
}

.book-listing a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    max-width: 123px;
    max-height: 200px;
    margin: 3%;
}

input, textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

footer {
    height: 10rem;
    text-align: right;
    flex-shrink: 0;
}